.card-news {
  background-color: $accent;
  max-width: 468px;
  width: 468px;
  height: 90vh;
  padding-top: 63px;
  overflow-y: scroll;
  transform: translateX(0px);
  // position: absolute;
  transition: transform 0.5s linear;
  &__container {
    padding: 61px 56px;
  }
  &__title {
    color: $black;
    @extend %font-Neue;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin: 16px 0;
  }
  &__title:first-of-type {
    margin-bottom: 60px;
  }
  &__card {
    border-bottom: 1px solid $black;
    padding-bottom: 72px;
  }
  &__card .link-arrow {
    margin-left: 45px;
    
  }
  &__text {
    color: $black;
    @extend %font-Formular;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 16px 45px;
  }
  &__date {
    color: $black;
    @extend %font-Formular;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
  }
  
}
.card-news:hover {
  transform: translateX(-200px);
}