.header {
  position: fixed;
  background-color: #ecebe8;
  max-width: 1440px;
  width: 100%;
  z-index: 3;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $black;
    margin-top: 7px;
  }
  &__nav {
    flex: 10 0 auto;
    margin: 0 30px;
  }
  &__social {
    list-style: none;
    display: flex;
    padding: 17px 25px 20px;
    margin: 0;
    justify-content: space-between;
    flex: 3 0 auto;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    &-link {
      @include smallText();
      text-decoration: none;
      margin: 0;
    }
  }
  &__donate {
    display: flex;
    flex: 1 0 auto;
    text-decoration: none;
  }
  &__plus {
    margin: 0 5px 0 20px;
  }
  &__donate-text {
    text-transform: uppercase;
    @include caption();
  }
}
