.header {
  position: fixed;
  background-color: #ecebe8;
  max-width: 1440px;
  width: 100%;
  z-index: 3;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $black;
    margin-top: 7px;
  }
  &__nav {
    flex: 10 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    &-item {
      display: flex;
      text-decoration: none;
    }
    &-right {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s linear;
      &_active {
        visibility: visible;
        opacity: 1;
      }
    }
    &-left {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s linear;
      &_active {
        visibility: visible;
        opacity: 1;
      }
    }

    &-link {
      @include smallText();
      margin: 0;
    }
  }
  &__nav-item:hover &__nav-right {
    visibility: visible;
    opacity: 1;
  }
  &__nav-item:hover &__nav-left {
    visibility: visible;
    opacity: 1;
  }
  &__nav-item_active &__nav-right {
    visibility: visible;
    opacity: 1;
  }
  &__nav-item_active &__nav-left {
    visibility: visible;
    opacity: 1;
  }
  &__social {
    list-style: none;
    display: flex;
    padding: 17px 25px 20px;
    margin: 0;
    justify-content: space-between;
    flex: 3 0 auto;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    &-link {
      @include smallText();
      text-decoration: none;
      margin: 0;
    }
  }
  &__donate {
    display: flex;
    flex: 1 0 auto;
    text-decoration: none;
  }
  &__plus {
    margin: 0 5px 0 20px;
  }
  &__donate-text {
    text-transform: uppercase;
    @include caption();
  }
}
