.library {
  display: flex;
  width: 100%;
  &__play {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  &__title {
    @include h1();
    align-self: center;
  }
  &__surch {
    display: flex;
    width: 100%;
    position: sticky;
    top: 64px;
    background-color: #ecebe8;
    flex-shrink: 0;
  }
  &__input {
    @include mediumText();
    flex: 1 1 auto;
    background: none;
    border: 1px solid $black;
    border-top: none;
    margin-left: 20px;
  }
  &__button {
    flex: 1 1 auto;
    text-align: left;
    border-top: none;
    cursor: pointer;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    min-height: 50vh;
    margin-bottom: 100px;
  }
  &__container .card {
    max-width: 240px;
    width: 100%;
    margin: 0 20px 20px;
  }
}
