.main {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 40fr 1fr;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: relative;
  overflow-x: clip;
  &__left {
  margin-top: 60px;
  }
  &__right {
    transition: width 0.5s linear;
    align-self: start;
    width: 270px;
    padding-top: 63px;
    top: 0;
    position: sticky;
  }
  &-library {
    display: flex;
  }
}