.new-authors {
  background-color: $white;
  display: flex;
  flex-direction: column;
  &__title {
    @include h5();
    align-self: flex-end;
    margin: 85px 121px;
    max-width: 599px;
  }
  &__container {
    display: flex;
    justify-content: space-around;
    margin: 0 121px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 150px;
  }
  &__item {
    @include h7();
  }
}
