.new-authors {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  
  &__title {
    align-self: flex-end;
    @extend %font-Neue;
    font-size: 36px;
    line-height: 38px;
    color: $black;
    margin: 85px 121px;
    max-width: 599px;
  }
  &__container {
    display: flex;
    justify-content: space-around;
    margin: 0 121px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin-bottom: 150px;
  }
  &__item {
    @extend %font-Formular;
    font-size: 20px;
    line-height: 24px;
    color: $black;
  }
}