.news {
  &__container {
    display: flex;
    margin-top: 80px;
  }
  &__left {
    flex: 1 1 auto;
  }
  &__right {
    flex: 1 1 auto;
  }
  &__filters {
    display: flex;
    max-width: 450px;
  }
  &__month {
    flex: 2 1 auto;
    margin-right: 20px;
  }
  &__year {
    flex: 1 1 auto;
  }
  &__items {
    max-width: 900px;
    margin: 30px auto;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black;
    cursor: pointer;
    &:hover {
      background-color: $accent;
    }
  }
  &__title {
    @include h5();
    margin: 16px 21px 8px;
  }
  &__text {
    @include text();
    margin: 0 0 64px 53px;
  }
  &__date {
    @include smallText();
    margin: 16px 0;
  }
}
