.organizers {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  & .title {
    max-width: 544px;
    align-self: flex-end;
    margin-right: 176px;
    margin-bottom: 80px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 180px 130px;
    row-gap: 30px;
    grid-auto-flow: row;
  }
  &__name {
    @include h6();
    margin: 16px 0 8px;
    max-width: 180px
  }
  &__job {
    @include smallText();
    margin: 0 0 0 20px;
  }
  &__item {
    max-width: 210px;
    &_type_right-space {
      grid-column: span 2;
    }
    &_type_left-space2 {
      grid-column: 3/4;
    }
    &_type_left-space {
      grid-column: 2/4;
    }
  }
  &__team {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    & .title {
    max-width: 544px;
    align-self: flex-end;
    margin-right: 176px;
    margin-bottom: 80px;
    }
    &-list {
      margin: 0 30px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      row-gap: 30px;
      margin-bottom: 270px;
    }
  }
}