.partners {
  &__title {
    @include h6();
    margin: 102px 60px 48px;
    max-width: 315px;
  }
  &__caption {
    @include caption();
    margin: 21px 0 0;
  }
  &__items {
    display: grid;
    margin-left: 159px;
    row-gap: 81px;
    column-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &__item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
