.sponsors {
  margin-top: 90px;
  &__nav {
    display: flex;
  }
  &__cont {
    display: flex;
    margin-bottom: 121px;
  }
  &__left {
    flex: 1 1 auto;
    margin: 187px 0 0 123px;
  }
  &__info {
    @extend %font-Formular;
    font-size: 20px;
    line-height: 28px;
    color: $black;
    max-width: 468px;
    margin-left: 25px;
  }
  &__link {
    @extend %font-Formular;
    font-size: 20px;
    line-height: 28px;
    color: $black;
  }
  &__right {
    flex: 1 1 auto;
    & .title {
      max-width: 544px
    }
  }
  &__text{
    @extend %font-Neue;
    font-size: 20px;
    line-height: 24px;
    color: $black;
    max-width: 420px;
    margin-left: 40px;
  }
}