.sponsors {
  margin-top: 90px;
  &__nav {
    max-width: 600px;
    margin-left: 60px;
  }
  &__cont {
    display: flex;
    margin-bottom: 121px;
  }
  &__left {
    flex: 1 1 auto;
    margin: 187px 0 0 123px;
  }
  &__info {
    @include text();
    max-width: 468px;
    margin-left: 25px;
  }
  &__link {
    @include text();
  }
  &__right {
    flex: 1 1 auto;
    & .title {
      max-width: 544px
    }
  }
  &__text{
    @include h7();
    max-width: 420px;
    margin-left: 40px;
  }
  &__team-list {
    margin: 0 30px 270px;
  }
}