.what-we-do {
  &__head {
    padding-top: 90px;
    background-color: $accent;
    & .title {
      max-width: 924px;
      margin: 69px 62px 53px;
    }
  }
  &__nav {
    max-width: 600px;
    margin-left: 60px;
  }
  &__title {
    @include h2();
    max-width: 924px;
    margin: 67px 0 53px 62px;
  }
  &__wrapper {
    display: flex;
  }
  &__image {
    position: relative;
    top: 200px;
    width: 720px;
    height: 414px;
    object-fit: cover;
  }
  &__subtitle {
    @include h7();
    margin: 0 0 20px 91px;
    max-width: 519px;
  }
  &__info {
    margin-top: 313px;
    &-head {
      display: flex;
      margin: 0 180px 0 120px;
      justify-content: space-between;
    }
    &-left {
      max-width: 599px;
    }
    &-title {
      @include h3();
      margin: 0 0 76px;
    }
    &-subtitle {
      @include h5();
      margin: 0 0 24px
    }
    &-text {
      @include text();
    }
    &-container {
      display: flex;
      justify-content: space-between;
      margin-right: 121px;
      margin-top: 190px;
    }
    &-right {
      max-width: 599px;
    }
    &-wrapper {
      margin: 143px 0 169px 207px;
      max-width: 599px;
    }
  }
}
