.what-we-do {
  &__head {
    padding-top: 90px;
    background-color: $accent;
    & .title {
    max-width: 924px;
    margin: 69px 62px 53px;
    }
  }
  &__nav {
    display: flex;
  }
  &__wrapper {
    display: flex;
  }
  &__image {
    position: relative;
    top: 200px;
    width: 720px;
    height: 414px;
    object-fit: cover;
  }
  &__subtitle {
    @extend %font-Neue;
    font-size: 20px;
    line-height: 24px;
    color: $black;
    margin-left: 91px;
    max-width: 519px;
  }
  &__info {
    margin-top: 313px;
  }
}