.affiche-card{
  display: flex;
  margin-bottom: 72px;
  &__image {
    width: 120px;
    height: 161px;
    object-fit: cover;
    margin-right: 31px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__date {
    @include text();
    margin: 0 0 4px;
  }
  &__time {
    margin-left: 30px;
  }
  &__title {
    @include h5();
    margin: 0 0 16px;
  }
  &__autors-list {
    list-style: none;
    @include smallText();
    margin: 0 0 20px;
  }
  &__link {
    max-width: 150px;
    @include caption();
    text-decoration: none;
    margin: 0 0 16px;
  }
  &__links {
    max-width: 154px;
    display: flex;
    flex-direction: column;
  }
  &__links .link-arrow {
    margin-bottom: 16px;
  }
  &__links .link-arrow:last-of-type {
    margin-bottom: 0px;
  }
}

.affiche-card:last-of-type {
  margin-bottom: 0;
}