.nav {
  display: flex;
  justify-content: space-between;
  &__item {
    display: flex;
    text-decoration: none;
  }
  &__left {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  &__right {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    height: 100%;
  }
  &__item:hover &__left{
    visibility: visible;
    opacity: 1;
  }
  &__item:hover &__right{
    visibility: visible;
    opacity: 1;
  }
  &__item_active &__left{
    visibility: visible;
    opacity: 1;
  }
  &__item_active &__right{
    visibility: visible;
    opacity: 1;
  }
  &__text {
    @include smallText();
    margin: 0;
  }
}